label.menu{
    border: 1px solid black;
    padding: 4px;
}
input#menu{
    display: none;
}
nav#main-nav{
    display: none;
}
input#menu:checked + nav#main-nav{
    display: block;
}
/* body{
    display: flex;
    flex-direction: column;
    column 	아이템들을 열방향 (세로방향) 위쪽부터 정렬합니다
} */