*{
    box-sizing: border-box;
    font-size: 14px;
}
a{
    text-decoration: none;
}
header{
    background-color: #383d40;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
}
body{
    margin: 0;
}
.container{
    margin: 0px auto;
    padding: 0 15px;
    width: 1170px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.brand-text{
    display: flex;
    padding: 15px;
    padding-left: 0;
    height: 50px;
}
.bt-left{
    line-height: 17px;
    font-size: 22px;
    font-weight: 500;
    color: white;
}
.bt-right{
    line-height: 9px;
    font-weight: 600;
    color: #aaa;
    font-size: 11px;
    padding: 1px 3px;
}
.nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.profile-imge{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.dropdown-toggle{
    display: flex;
    align-items: center;
    color: white;
}
.dropdown-toggle .name{
    padding: 0px 10px;
}
.dropdown-toggle .fa-caret-down{
    font-size: 10px;
}
/* .page-header::before{
    content: " ";
    display: table;
} */
.page-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}
.pull-left{
    margin: 20px 0px 10px;
    font-size: 36px;
    font-weight: 400;
}
.pull-right{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 325px;
    height: 36px;
}
.search-project{
    position: relative; /* 자기자신을 기준 */
    width: 226.5px;
    height: 34px;
}
.form-control{
    height: 34px;
    padding: 6px 42.5px 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#fff;
    color: #555;
}
.search-project .fa-magnifying-glass{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
.form-control:focus{
    border-color: #66afe9;
    outline: 0;
}
.btn-toggle{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 80px;
    height: 34px;
}
.change-viewtype{
    background-color: white;
    border: none;
    color: #333;
    padding: 6px 12px;
    width: 39px;
    height: 32px;
    cursor: pointer;
}
.btn-toggle .change-viewtype:first-child{
    border-right: 1px solid #ccc;
}
.active{
    background: radial-gradient(circle, white,#f0f0f0,#e6e6e6,#ccc);
}
.change-viewtype:not([type=active]):hover{
    background-color: #e6e6e6;
}
.row{
    display: flex;
}
.nav-stacked{
    margin: 0;
    padding: 0px 15px 0px 0px;
    width: 277.5px;
    list-style-type: none;
}
.nav-stacked-list{
    margin-bottom: 2px;
    border-radius: 2px;
    width: 262.5px;
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
}
.nav-staked-list:not([class*=active-list]):hover{
    background-color: #eee;
}
.active-list{
    background-color: #3498db;
    color: #fff;
}
.project-main{
    padding-left: 15px;
    width: 862.5px;
}
.project-action{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: 1px solid #adadad;
    border-radius: 2px;
    padding: 6px 12px;
    height: 34px;
    cursor: pointer;
}
.btn-default:hover{
    background-color: #357ebd;
}
.btn-primary:hover{
    background-color: #357ebd;
}
.btn-default{
    background-color: white;
}
.btn-primary{
    background-color: #3498db;
    color: white;
}
.project-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
}
.project-item{
    padding: 0px 15px;
}
.project-contaniner{
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 252.5px;
}
.item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}
.item-option-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    counter-reset: #888;
    border-radius: 2px;
    width: 35px;
    height: 22px;
    cursor: pointer;
}
.item-option-btn:hover{
    border: 1px solid #ddd;
    background-color: #e6e6e6;
}
.item-option-btn .fa-solid{
    font-size: 11px;
    margin: 0px 1px; 
}
.item-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 2px;
    width: 242.5px;
    height: 162.5px;
    cursor: pointer;
    /* overflow: hidden; */
}
/* .item-img-container img{
    width: 100%;
}    */
.abc1{
    width: 100%;
    height: 100%;
    
}
.item-content{
    padding: 9px;
}
.item-title{
    margin: 6px 0px 10px;
    font-size: 24px;
    color: #3498db;
}
.item-description{
    margin-bottom: 15px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom:12px;
    height: 48px;
}
.project-tiem{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
}
.project-tiem .fa-clock{
    font-size: 12px;
}
.btn-test{
    padding: 1.8px 5.4px 2.7px 5.4px;
    height: auto;
    line-height: 10px;
    background-color: #5cb85c;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container2{
    margin: 0px auto;
    padding: 0 15px;
    width: 1170px;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 25px 0;

    border-top: 1px solid #ddd ;
}

.a1{
    color: #3498db;;
}
.a2{
    color: #3498db;
    font-weight: 600;
  
}
small{
    font-size: 12px;
}
.a4{

    font-size: 14px;
}
